@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* main  */

main {
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url('/assets/images/bg-header-mobile.png');
        background-repeat: no-repeat;
         background-size: contain;
}

@media (max-width:820px) {
    main {
        margin: 6rem 2rem;
    }
    .cont-sub-1-btn {
        flex-direction: column;
    }
    p{
        font-size: 16px;
    }
}
/* @media (min-width:1000px) {
    .cont-sub-2-p{
        padding-right:4rem;
    }
    
} */
@media (min-width:1142px) {
    .cont-sub-2-p{
       text-align: start !important;
        padding-right:8rem !important;
   
       }
    
}
@media (min-width:821px) and (max-width:1147px) {
    .newClass-p{
        width:250px !important;
    }
    
}
@media (min-width:1148px) {
    .newClass-p{
        width: 400px !important;;
    }
    
}

@media (min-width:821px) and (max-width:1142px) {
    .cont-sub-2-p{
        text-align: start !important;
        padding-right: 0rem !important;
    }
    
}

/* @media (max-width: 1142px){
.cont-sub-2-p {
    text-align: start !important;
    padding-right: 0rem !important;
}} */

@media (min-width:821px) {
    main {
        margin: 6rem 6rem;
    }
    body{
        background-image: url('/assets/images/bg-header-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    h1{
            font-size: 2.5rem;
    }
    .sub-4-2-1, .sub-4-2-2, .sub-4-2-3 {
       
        padding: 1rem;
    }
    .sub-7-1 {
        margin-left: 50px;
    }
    .cont-sub-6 {
        margin: 7rem 0 4rem 0 !important;
    }
    .sub-5-logo1,.sub-5-logo2,.sub-5-logo3,.sub-5-logo4,.sub-5-logo5{
        width: 100% !important;
        display: flex;
        align-self: center;
    }
   
   
.sub-4-2{
    display: flex;
    justify-content: space-between;
}
.NC-1{
    margin: -8px;
}
    .cont-sub-1-p, .cont-sub-1-p, .cont-sub-1-p, .cont-sub-1-p, .cont-sub-1-p {
        text-align: center;
        line-height: 1.7;
        padding: 0.1rem;
        color: hsl(201, 11%, 66%);
        font-weight: 400;
        width: 660px;
    }
    .cont-sub-1-p{
        font-size: 18px;    
    }
    .cont-sub-1-btn{
      justify-content: space-evenly;
       width:500px;
    }
    a{
        padding: 1rem 3rem !important;
    }
    .head-logo {
        display: flex;
        align-self: center;
    }
    
    .cont-sub-2 {
        align-items: center;;

    }
    .sub-2-1 {
        margin-top: 6rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width:640px;

    }
    .sub-2-2{
        display: flex;
        justify-content: space-between;
    }
    .sub-2-2-1{
        margin-top: 8rem;
        flex-basis: 40%;
        margin-left:3rem;
    }
    .desk-img{
        /* flex-basis: 40%; */
        position: relative;
        margin-left: -134px !important;
    }
    
    .sub-2-p22{
        padding: 0 !important;
        text-align: center !important;
    }
    .cont-sub-2-h3,.cont-sub-2-h4,.cont-sub-2-h5{
        text-align: start !important;
    }
    .cont-sub-5{
        margin-top:8rem !important;
        flex-direction: row !important;
        justify-content: space-around !important;
    }
    .cont-sub-6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .const-sub-7{
        flex-direction: row !important;
        justify-content: space-evenly !important;
        justify-content: baseline !important;
    }
    .sub-7-4{
        display: flex;
        align-self: start;
    
    }
    .sub-7-5{
        display: flex;
        align-self: start;
        /* justify-content: space-evenly !important; */
        flex-basis: 20%;
    
    }
    .devices-img {
        width: 80% !important;
    }
    
    
}
@media (min-width:986px) {
    .twitter-logo {
       
        margin: 0 -110px 0 -110px ;
    }
}
@media (min-width:821px) and (max-width:985) {
    .twitter-logo {
       
        margin: 0 -60px 0 -60px;
    }
}
@media (max-width:820px) {
    .twitter-logo {
        margin: 0px -170px 0 -170px;
    }
    
}
@media (min-width:596px) and (max-width:820px) {
    .first-p{
        width:540px;
    }
    
}

/* first inner block */

.cont-sub-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-1 {
    display: flex;
}

.prev-logo {
    width: 6.70rem;
    margin-bottom: 3.5rem;
}


/* .cont-sub-1 {
    displa
} */

.cont-sub-1-h1,
.cont-sub-2-h3,
.cont-sub-2-h4,
.cont-sub-2-h5,
.cont-sub-4-h7,
.cont-sub-4-h8,
.cont-sub-4-h9,
.cont-sub-4-h10 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
    color: hsl(210, 10%, 33%);
    /* font-size: 1.5rem; */
}

.cont-sub-2-h2,
.cont-sub-3-h6,
.cont-sub-3-h7,
.cont-sub-6-h11 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.1rem;
    color: hsl(210, 10%, 33%);
    font-size: 2.1rem;
}

.cont-sub-1-p,
.cont-sub-1-p,
.cont-sub-1-p,
.cont-sub-1-p,
.cont-sub-1-p {
    text-align: center;
    line-height: 1.7;
    padding: .1rem;
    color: hsl(201, 11%, 66%);
    font-weight: 400;
}

.cont-sub-1-btn {
    display: flex;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    padding: 1rem 5.1rem;
    border-radius: 30px;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 1.8rem;
    text-align: center;
}

.first-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 3px hsl(171, 63%, 35%);
}

.second-btn {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsl(233, 43%, 48%);
}


/* sub-2 */

.cont-sub-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;;
}

.sub-2-1 {
    margin-top: 6rem;
}

.cont-sub-2-p {
    text-align: center ;
    line-height: 1.7;
    padding: .1rem;
    color: hsl(201, 11%, 66%);
    font-weight: 400;
}

.desk-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.sub-2-2-1 p {
    margin-bottom: 3rem;
}

.sub-2-2 {
    margin-bottom: 5rem;
}

.sub-3-1 {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desktop-image {
    width:100%;
    /* height: 550px; */
}
.devices-img {
    width: 100%;
}

.devices-img-block {
    margin: 1rem 0 4rem 0;
    display: flex;
    justify-content: center;
}


/* sub-4 */

.sub-4-1 {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.sub-4-2-1,
.sub-4-2-2,
.sub-4-2-3 {
    margin: 4.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-4-2{
    /* display: flex; */
}
.sub-4-logo-block {
    margin-bottom: 2rem;
    text-align: center;
}


/* cont-sub-5 */

.cont-sub-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 7;
}
.sub-5-logo1{
    width:8.75rem;
}
.sub-5-logo2{
    width:7.5rem;
}
.sub-5-logo3{
width:6.25rem;
}

.cont-sub-6 {
    margin:6rem 0;
}

.const-sub-7 {
    display: flex;
    flex-direction: column;
    line-height: 3;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: whitesmoke;
}

.sub-7-1,
.sub-7-2,
.sub-7-3,
.sub-7-4,
.sub-7-5 {
    text-align: center;
}
.sub-7-1{
    /* margin-left: 50px; */
}

.head-logo {
    width: 55px;
    margin-bottom: 1.5rem;
}

.sub-7-5 {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
}


.const-sub-7 p{
    font-weight: 600;
    color: hsl(201, 11%, 66%);
}