@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* main  */

main {
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url('/assets/images/bg-header-mobile.png');
        background-repeat: no-repeat;
         background-size: contain;
}

@media (max-width:820px) {
    main {
        margin: 6rem 2rem;
    }
    .cont-sub-1-btn {
        flex-direction: column;
    }
    p{
        font-size: 16px;
    }
}

@media (min-width:821px) {
    main {
        margin: 6rem 6rem;
    }
    body{
        background-image: url('/assets/images/bg-header-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    h1{
            font-size: 2.5rem;
    }
    p{
        font-size: 18px;
    }
    .cont-sub-1-p, .cont-sub-1-p, .cont-sub-1-p, .cont-sub-1-p, .cont-sub-1-p {
        text-align: center;
        line-height: 1.7;
        padding: 0.1rem;
        color: hsl(201, 11%, 66%);
        font-weight: 400;
        width: 660px;
    }
    .cont-sub-1-btn{
      justify-content: space-evenly;
       width:50%;
    }
    a{
        padding: 1rem 3rem !important;
    }
}


/* first inner block */

.cont-sub-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-1 {
    display: flex;
}

.prev-logo {
    width: 6.25rem;
    margin-bottom: 3.5rem;
}


/* .cont-sub-1 {
    displa
} */

.cont-sub-1-h1,
.cont-sub-2-h3,
.cont-sub-2-h4,
.cont-sub-2-h5,
.cont-sub-4-h7,
.cont-sub-4-h8,
.cont-sub-4-h9,
.cont-sub-4-h10 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
    color: hsl(210, 10%, 33%);
    /* font-size: 1.5rem; */
}

.cont-sub-2-h2,
.cont-sub-3-h6,
.cont-sub-3-h7,
.cont-sub-6-h11 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.1rem;
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}

.cont-sub-1-p,
.cont-sub-1-p,
.cont-sub-1-p,
.cont-sub-1-p,
.cont-sub-1-p {
    text-align: center;
    line-height: 1.7;
    padding: .1rem;
    color: hsl(201, 11%, 66%);
    font-weight: 400;
}

.cont-sub-1-btn {
    display: flex;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    padding: 1rem 5.1rem;
    border-radius: 30px;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 1.8rem;
    text-align: center;
}

.first-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 3px hsl(171, 63%, 35%);
}

.second-btn {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsl(233, 43%, 48%);
}


/* sub-2 */

.cont-sub-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;;
}

.sub-2-1 {
    margin-top: 6rem;
}

.cont-sub-2-p {
    text-align: center;
    line-height: 1.7;
    padding: .1rem;
    color: hsl(201, 11%, 66%);
    font-weight: 400;
}

.desk-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.sub-2-2-1 p {
    margin-bottom: 3rem;
}

.sub-2-2 {
    margin-bottom: 5rem;
}

.sub-3-1 {
    margin-bottom: 4rem;
}
.desktop-image {
    width:100%;
}
.devices-img {
    width: 100%;
}

.devices-img-block {
    margin: 1rem 0 4rem 0;
}


/* sub-4 */

.sub-4-1 {
    margin-bottom: 6rem;
}

.sub-4-2-1,
.sub-4-2-2,
.sub-4-2-3 {
    margin: 3rem 0;
}

.sub-4-logo-block {
    margin-bottom: 2rem;
    text-align: center;
}


/* cont-sub-5 */

.cont-sub-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 7;
}
.sub-5-logo1{
    width:8.75rem;
}
.sub-5-logo2{
    width:7.5rem;
}
.sub-5-logo3{
width:6.25rem;
}

.cont-sub-6 {
    margin:6rem 0;
}

.const-sub-7 {
    display: flex;
    flex-direction: column;
    line-height: 3;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem 0;
    background-color: whitesmoke;
}

.sub-7-1,
.sub-7-2,
.sub-7-3,
.sub-7-4,
.sub-7-5 {
    text-align: center;
}

.head-logo {
    width: 55px;
    margin-bottom: 1.5rem;
}

.sub-7-5 {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
}

.twitter-logo {
    margin: 0px -170px 0 -170px;
}
.const-sub-7 p{
    font-weight: 600;
    color: hsl(201, 11%, 66%);
}